

.fs-row {
    display: flex;
    background: var(--base-color);
    border-radius: var(--border-radius);
    margin: 12px 0;
}

.fs-dir {
    display: flex;
    padding: 10px 0;
}

.fs-dir > * {
    cursor: pointer;
}

.dir-title {
    margin: 0 10px;
}

.verify {
    border: none;
    padding: 12px 24px;
    border-radius: var(--border-radius);
    font-family: var(--font-family);
    font-weight: 500;
    cursor: pointer;
    color: var(--text-color);
    background: var(--base-color);
}

.verify:hover {
    color: white;
    background: var(--accent-color);
}

.disabled {
    cursor: not-allowed;
    background: var(--base-color) !important;
    color: var(--dis-text-color) !important;
}

app-file-object, app-folder-object {
    display: flex;
    flex-grow: 2;
    align-items: center;
    padding: 12px 24px;
}

app-folder-object {
    cursor: pointer;
}

.fs-row:hover {
    background: var(--second-color);
}

[data-selected="true"] {
    background: var(--second-color);
}