/* You can add global styles to this file, and also import other style files */


body {
    font-family: var(--font-family);
    margin: 0 auto;
    max-width: 1000px;
    padding: 24px;
    background: var(--back-color);
    color: var(--text-color);
}

:root {
    --font-family: 'Montserrat', sans-serif;
    --border-radius: 10px;
    --back-color: #1c1c28;
    --base-color: #222333;
    --second-color: #28293d;

    --text-color: white;

    --dis-text-color: #dddddd;
   
    --accent-color: #2E89FF;
}